name: CI/CD Pipeline

on:
  push: 
    branches: [ main ]
  pull_request: 
    branches: [ main ]

jobs:
  test: 
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with: 
        node-verison: '18'

    - name: Run tests
      run: npm test

  deploy: 
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps: 
    - uses: actions/checkout@v3

    - name: Configure AWS credentials 
      uses: aws-actions/configure-aws-credentials@v2
      with: 
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
         aws-region: ${{ secrets.us-east-1 }}

    - name: Deploy to 
      run: |
        aws s3 sync . s3//${{ secrets.my-cicd-bucket-larsona }} -- exclude ".github/*" -- exclude "node_modules/*" -- exclude "package*.json" -- exclude "test.js"

      